<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <img
          src="<%= campground.image %>"
          class="card-img-top"
          alt="<%= campground.name %>"
        />
        <div class="card-body">
          <p class="float-right">
            <%= campground.price%>/night %>
          </p>
          <h5 class="card-title"><%= campground.name %></h5>
          <p>
            <em>Submitted By <%= campground.author.username %> </em>
          </p>
          <hr />
          <p class="card-text"><%= campground.description %></p>
          <% if(currentUser && campground.author.id.equals(currentUser._id)) {
          %>
          <a
            class="btn btn-warning btn-xs"
            href="/campgrounds/<%=campground._id%>/edit"
            >Edit</a
          >
          <form
            class="delete-form"
            action="/campgrounds/<%=campground._id%>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger btn-xs">Delete</button>
          </form>
          <% } %>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="text-right">
            <a
              class="btn btn-success"
              href="/campgrounds/<%=campground._id%>/comments/new"
            >
              Add New Comment</a
            >
          </div>
          <hr />
          <div class="row">
            <% campground.comments.forEach(function(comment){ %>
            <div class="col-md-12 mb-2">
              <div class="card">
                <div class="card-body">
                  <div class="float-left">
                    <p class='card-title'><%= comment.author.username %></p>
                    <p class='card-text'><%= comment.text %></p>
                  </div>
                  <div class='float-right'>
                      <p>10 days ago</p>
                      <% if(currentUser &&
                      comment.author.id.equals(currentUser._id)) { %>
                      <div class="float-right">
                        <a
                          href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit"
                          class="btn btn-sm btn-warning"
                          >EDIT</a
                        >
                        <form
                          action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE"
                          method="POST"
                          class="delete-form"
                        >
                          <input
                            type="submit"
                            class="btn btn-sm btn-danger"
                            value="DELETE"
                          />
                        </form>
                      </div>
                      <% } %>
                  </div>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
